<div class="welcome-container">
    <div class="welcome-nav-bar">
        <div class="nav-bar-link-container">
            <a class="aquaPlants-sign">AquaPlants</a>
            <a routerLink="/home/search" class="link-container-item">
                Search
            </a>
            <a routerLink="/home/article" class="link-container-item">
                Article
            </a>
            <a routerLink="/home/readme" class="link-container-item">
                Readme
            </a>
            <a routerLink="/home/map" class="link-container-item">
                Map
            </a>
            <a routerLink="/home/contactus" class="link-container-item">
                Contact Us
            </a>
            <a routerLink="/home/contactus" class="link-container-item">
                Login
            </a>
        </div>
    </div>
    <div class="content-area">
        <div class="content-part-one">
            <div class="content-part-one-logo-wrapper"><img src="assets/images/logo/android-chrome-192x192.png" routerLink="" class="content-part-one-logo" alt="AquaPlants logo"></div>
            <p class="content-part-one-slogan content-part-one-para">Everything you need to know about aquatic plants are here.</p>
            <p class="content-part-one-scroll-down content-part-one-para">Scroll down for more</p>
            <i class="content-part-one-icon fas fa-chevron-down"></i>
        </div>
        <div class="content-part-two">
            <div class="content-part-two-row part-two-row-one">
                <!-- After finished the whole project, add fade in animation for title and para-->
                <!-- After finished the whole project, add a screenshot for the feature under title might be nice-->
                <p class="part-two-row-one-title">Main feature 1:</p>
                <div class="part-two-row-one-para">
                    <p>Place holder: This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.</p> 
                </div>
            </div>
            <div class="content-part-two-row part-two-row-two">
                <div class="row-two-column">
                    <p class="row-two-column-title">Feature 2:</p>
                    <div class="row-two-column-para">
                        <p>Place holder: This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.</p> 
                    </div>                
                </div>
                <div class="row-two-column">
                    <p class="row-two-column-title">Feature 2:</p>
                    <div class="row-two-column-para">
                        <p>Place holder: This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.</p> 
                    </div>                
                </div>
                <div class="row-two-column">
                    <p class="row-two-column-title">Feature 2:</p>
                    <div class="row-two-column-para">
                        <p>Place holder: This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.</p> 
                    </div>        
                </div>
                
            </div>
            <div class="content-part-two-row part-two-row-three">
                <p class="part-two-row-three-title">Summary</p>
                <div class="part-two-row-three-para">
                    <p>Place holder: This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.</p> 
                    <p>Place holder: This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.</p> 
                    <p>Place holder: This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.This is just a place holder.</p> 
                </div>  
            </div>
        </div>
            <router-outlet></router-outlet>
    </div>
</div> 
