<div class="welcome-nav-bar">
    <div class="nav-bar-link-container">
        <a class="aquaPlants-sign">AquaPlants</a>
        <a routerLink="/home/search" class="link-container-item">
            Search
        </a>
        <a routerLink="/home/readme" class="link-container-item">
            Readme
        </a>
        <a routerLink="/home/map" class="link-container-item">
            Map
        </a>
        <a routerLink="/home/contactus" class="link-container-item">
            Contact Us
        </a>
    </div>
</div>
<div class="content-area">
    <h1>Sorry, looks like we direct you to a wrong page.</h1>
    <h1>Lets go back a little.</h1>
    <p>Head to the <a routerLink="/home/contactus">Contact Us</a> to let us know, or go back to <a routerLink="/home/search">Home page</a>.</p>
</div>