<div class="readme-head">
    <p>So, you are new to this beautiful hobby and want to know where to start? You are in the right place. Aquaplants will cover all the basic knowledge you need for a fishless basic aquarium.</p>
    <p>This is a readme page focused on answering a few basic questions which almost everyone who just start to rise their own aquarium will ask. The menu at the bottom of this page will redirect you to other guide articles that We believe will help you get started. If you want to know more about raising one specific aquatic plant, be sure to check the article search feature and it may give you the answer. If you have any opinion or suggestions, please do not hesitate to contact us. Together, we will make this application better</p>
</div>
<div class="readme-paragraph">
    <div class="paragraph-head">
        <p>What do I need to start a aquarium by myself?</p>
    </div>
    <div class="paragraph-body">
        <p>Here is a list of items that we suggest to purchase. 1. Fish tank 2. Substrate 3. Filter 4. Light 5. Decorations. Some pet store sell start kits which will include fish tank, filter, light, and some substrate. We believe start kits are great way to start your first aquarium.</p>
        <p>If you decide to buy all items seperately, please remember you need to provide three main systems in order to make a successful aquarium, which are Light system, C0₂ system, and Water cycle system. The main focus of Light system is how many lumens you want to have. In general, the better the light, the more plants you can have. CO₂ system focus on provide enough CO₂ to let plants do photosynthesis. How much CO₂ you need is totally depend on what set of plants you have and you can check the by using Aquaplants plant database. Water cycle system will provide water movement and filtering, which can eliminates bacteria and particles.</p>
    </div>

    <div class="paragraph-head">
        <p>How do I start my first tank?</p>
    </div>
    <div class="paragraph-body">
        <p>1. First, place all decoration material (such as stones or roots), if you intend to use it. Then spread out a 1 cm thick layer of substrate where your plants should go and cover it with at least 4 cm of gravel.</p>
        <p>2. Carefully pour water into the aquarium, and wet the bottom layer. Use a plate or sift to slow down the water jet, in order to avoid making a mess of the bottom layer. </p>
        <p>3. Prepare the plants: Remove plastic pot and stone wool. Shorten the roots and divide into smaller plants, suitable for groups of plants. Use tweezers for easy planting.</p>
        <p>4. Remember to spray with water every now and then, to keep the plants moist at all times. Drying may harm the leaves.</p>
        <p>5. Carefully fill the aquarium with water. Make sure that the water jet does not hit plants or the bottom layer directly. The water may look a bit cloudy for a few days. Don’t worry – it will get better. </p>
        <p>6. Install a timer watch to turn off after 6 hours of light every day for the first three weeks. </p>
        <p>7. Then increase gradually to max. 8 hours of light every day. Too much light may result in problems with algae growth. Remember, maximum 8 hours of light per day.</p>
        <p>8. After 90 days, the aquarium will grown to a nice view.</p>
    </div>

    <div class="paragraph-head">
        <p>What fequent should I clean my aquarium?</p>
    </div>
    <div class="paragraph-body">
        <p>It really depend on how fast your aquarium get dirty and how fast your plants grows. Usually, clean you fish tank, trim your plants, and change water once every two weeks. </p>
        <p>Regularly, we will trim the plants, take out what we just trimed of, drain 20%-30% water out from the fish tank. Then we can wipe the fish tank, clean algae if there is any, and clean the filter. After all these, you can pour in same amount of water that we just drained.</p>
    </div>

    <div class="paragraph-head">
        <p>Why my fish tank is full of algae and how can I stop their spread?</p>
    </div>
    <div class="paragraph-body">
        <p>It really depend on how fast your aquarium get dirty and how fast your plants grows. Usually, clean you fish tank, trim your plants, and change water once every two weeks. </p>
        z
    </div>
</div>


<div class="readme-head">
    <p>So, you are new to this beautiful hobby and want to know where to start? You are in the right place. Aquaplants will cover all the basic knowledge you need for a fishless basic aquarium.</p>
    <p>This is a readme page focused on answering a few basic questions which almost everyone who just start to rise their own aquarium will ask. The menu at the bottom of this page will redirect you to other guide articles that We believe will help you get started. If you want to know more about raising one specific aquatic plant, be sure to check the article search feature and it may give you the answer. If you have any opinion or suggestions, please do not hesitate to contact us. Together, we will make this application better</p>
</div>
<div class="readme-paragraph">
    <div class="paragraph-head">
        <p>What do I need to start a aquarium by myself?</p>
    </div>
    <div class="paragraph-body">
        <p>Here is a list of items that we suggest to purchase. 1. Fish tank 2. Substrate 3. Filter 4. Light 5. Decorations. Some pet store sell start kits which will include fish tank, filter, light, and some substrate. We believe start kits are great way to start your first aquarium.</p>
        <p>If you decide to buy all items seperately, please remember you need to provide three main systems in order to make a successful aquarium, which are Light system, C0₂ system, and Water cycle system. The main focus of Light system is how many lumens you want to have. In general, the better the light, the more plants you can have. CO₂ system focus on provide enough CO₂ to let plants do photosynthesis. How much CO₂ you need is totally depend on what set of plants you have and you can check the by using Aquaplants plant database. Water cycle system will provide water movement and filtering, which can eliminates bacteria and particles.</p>
    </div>

    <div class="paragraph-head">
        <p>How do I start my first tank?</p>
    </div>
    <div class="paragraph-body">
        <p>1. First, place all decoration material (such as stones or roots), if you intend to use it. Then spread out a 1 cm thick layer of substrate where your plants should go and cover it with at least 4 cm of gravel.</p>
        <p>2. Carefully pour water into the aquarium, and wet the bottom layer. Use a plate or sift to slow down the water jet, in order to avoid making a mess of the bottom layer. </p>
        <p>3. Prepare the plants: Remove plastic pot and stone wool. Shorten the roots and divide into smaller plants, suitable for groups of plants. Use tweezers for easy planting.</p>
        <p>4. Remember to spray with water every now and then, to keep the plants moist at all times. Drying may harm the leaves.</p>
        <p>5. Carefully fill the aquarium with water. Make sure that the water jet does not hit plants or the bottom layer directly. The water may look a bit cloudy for a few days. Don’t worry – it will get better. </p>
        <p>6. Install a timer watch to turn off after 6 hours of light every day for the first three weeks. </p>
        <p>7. Then increase gradually to max. 8 hours of light every day. Too much light may result in problems with algae growth. Remember, maximum 8 hours of light per day.</p>
        <p>8. After 90 days, the aquarium will grown to a nice view.</p>
    </div>

    <div class="paragraph-head">
        <p>What fequent should I clean my aquarium?</p>
    </div>
    <div class="paragraph-body">
        <p>It really depend on how fast your aquarium get dirty and how fast your plants grows. Usually, clean you fish tank, trim your plants, and change water once every two weeks. </p>
        <p>Regularly, we will trim the plants, take out what we just trimed of, drain 20%-30% water out from the fish tank. Then we can wipe the fish tank, clean algae if there is any, and clean the filter. After all these, you can pour in same amount of water that we just drained.</p>
    </div>

    <div class="paragraph-head">
        <p>Why my fish tank is full of algae and how can I stop their spread?</p>
    </div>
    <div class="paragraph-body">
        <p>It really depend on how fast your aquarium get dirty and how fast your plants grows. Usually, clean you fish tank, trim your plants, and change water once every two weeks. </p>
        z
    </div>
</div>


<div class="readme-head">
    <p>So, you are new to this beautiful hobby and want to know where to start? You are in the right place. Aquaplants will cover all the basic knowledge you need for a fishless basic aquarium.</p>
    <p>This is a readme page focused on answering a few basic questions which almost everyone who just start to rise their own aquarium will ask. The menu at the bottom of this page will redirect you to other guide articles that We believe will help you get started. If you want to know more about raising one specific aquatic plant, be sure to check the article search feature and it may give you the answer. If you have any opinion or suggestions, please do not hesitate to contact us. Together, we will make this application better</p>
</div>
<div class="readme-paragraph">
    <div class="paragraph-head">
        <p>What do I need to start a aquarium by myself?</p>
    </div>
    <div class="paragraph-body">
        <p>Here is a list of items that we suggest to purchase. 1. Fish tank 2. Substrate 3. Filter 4. Light 5. Decorations. Some pet store sell start kits which will include fish tank, filter, light, and some substrate. We believe start kits are great way to start your first aquarium.</p>
        <p>If you decide to buy all items seperately, please remember you need to provide three main systems in order to make a successful aquarium, which are Light system, C0₂ system, and Water cycle system. The main focus of Light system is how many lumens you want to have. In general, the better the light, the more plants you can have. CO₂ system focus on provide enough CO₂ to let plants do photosynthesis. How much CO₂ you need is totally depend on what set of plants you have and you can check the by using Aquaplants plant database. Water cycle system will provide water movement and filtering, which can eliminates bacteria and particles.</p>
    </div>

    <div class="paragraph-head">
        <p>How do I start my first tank?</p>
    </div>
    <div class="paragraph-body">
        <p>1. First, place all decoration material (such as stones or roots), if you intend to use it. Then spread out a 1 cm thick layer of substrate where your plants should go and cover it with at least 4 cm of gravel.</p>
        <p>2. Carefully pour water into the aquarium, and wet the bottom layer. Use a plate or sift to slow down the water jet, in order to avoid making a mess of the bottom layer. </p>
        <p>3. Prepare the plants: Remove plastic pot and stone wool. Shorten the roots and divide into smaller plants, suitable for groups of plants. Use tweezers for easy planting.</p>
        <p>4. Remember to spray with water every now and then, to keep the plants moist at all times. Drying may harm the leaves.</p>
        <p>5. Carefully fill the aquarium with water. Make sure that the water jet does not hit plants or the bottom layer directly. The water may look a bit cloudy for a few days. Don’t worry – it will get better. </p>
        <p>6. Install a timer watch to turn off after 6 hours of light every day for the first three weeks. </p>
        <p>7. Then increase gradually to max. 8 hours of light every day. Too much light may result in problems with algae growth. Remember, maximum 8 hours of light per day.</p>
        <p>8. After 90 days, the aquarium will grown to a nice view.</p>
    </div>

    <div class="paragraph-head">
        <p>What fequent should I clean my aquarium?</p>
    </div>
    <div class="paragraph-body">
        <p>It really depend on how fast your aquarium get dirty and how fast your plants grows. Usually, clean you fish tank, trim your plants, and change water once every two weeks. </p>
        <p>Regularly, we will trim the plants, take out what we just trimed of, drain 20%-30% water out from the fish tank. Then we can wipe the fish tank, clean algae if there is any, and clean the filter. After all these, you can pour in same amount of water that we just drained.</p>
    </div>

    <div class="paragraph-head">
        <p>Why my fish tank is full of algae and how can I stop their spread?</p>
    </div>
    <div class="paragraph-body">
        <p>It really depend on how fast your aquarium get dirty and how fast your plants grows. Usually, clean you fish tank, trim your plants, and change water once every two weeks. </p>
        z
    </div>
</div>


