<div class="mainpage-container sticky">
    <div class="left-nav-bar ">
        <div class="nav-bar-link-container sticky">
            <!-- routerLinkActive="selected" : only apply the selected class to the <a> when the user is in that routerLink-->
            <a routerLink="/home/post" routerLinkActive="selected" class="link-container-item">
                <i class="fas fa-images nav-bar-icon"></i>
                Post
            </a>
            <a routerLink="/home/search" routerLinkActive="selected" class="link-container-item">
                <i class="fas fa-search nav-bar-icon"></i>
                Search
            </a>
            <a routerLink="/home/readme" routerLinkActive="selected" class="link-container-item">
                <i class="fas fa-bookmark nav-bar-icon"></i>
                Readme
            </a>
            <a routerLink="/home/article" routerLinkActive="selected" class="link-container-item">
                <i class="fas fa-bookmark nav-bar-icon"></i>
                Article
            </a>
            <a routerLink="/home/map" routerLinkActive="selected" class="link-container-item">
                <i class="fas fa-globe nav-bar-icon"></i>
                Map
            </a>
            <a routerLink="/home/contactus" routerLinkActive="selected" class="link-container-item">
                <i class="fas fa-envelope nav-bar-icon"></i>
                Contact Us
            </a>
            <a routerLink="/home/profile" routerLinkActive="selected" class="link-container-item">
                <i class="fas fa-user nav-bar-icon"></i>
                User Profile
            </a>
            <ng-container *ngIf="(auth.isAuthenticated$ | async)">
                <a routerLink="" (click)="logout()" class="link-container-item log-link">
                    <i class="fas fa-sign-in-alt nav-bar-icon"></i>
                    Log out
                </a>
            </ng-container>
            <ng-container *ngIf="!(auth.isAuthenticated$ | async)">
                <a routerLink="" (click)="auth.loginWithRedirect()" class="link-container-item log-link">
                    <i class="fas fa-sign-in-alt nav-bar-icon"></i>
                    Log in
                </a>
            </ng-container>
            
        </div>
    </div>
    <div class="right-content-area">
        <router-outlet></router-outlet>
    </div>
</div>
